@import "_defaults";

.main-container {
  width: 45%;
  margin: 60px auto;

  .header {
    width: 100%;
    background-color: rgb(210, 210, 22);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 20px 0;
    text-align: center;
    font-size: 2.3rem;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.4;
    border: none;
    border-radius: 20px;
  }
  .weather-container {
    position: relative;
    form {
      div {
        width: 35%;
        margin: 35px auto 40px auto;
        label {
          font-size: 16px;
          letter-spacing: 1px;
          padding-left: 5px;
        }
        input {
          width: 100%;
          font-size: 19px;
          border: none;
          border-bottom: 2px solid black;
          border-radius: 3px;
          padding: 0 0 5px 5px;
          margin-top: 15px;
        }
      }
      button {
        cursor: pointer;
        position: absolute;
        top: 30px;
        right: 110px;
        padding: 8px 35px;
        font-weight: 500;
        font-size: 17px;
        border: none;
        border-radius: 20px;
        background-color: rgb(210, 210, 22);
        transition: 0.4s;
      }
      button:hover {
        background-color: rgb(163, 163, 24);
      }
    }
    .weather-div {
      width: 100%;
      display: flex;
      justify-content: space-around;
      background-color: rgb(236, 236, 236);
      border-radius: 20px;
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.75);
      img {
        width: 45%;
        padding: 20px 25px 20px 50px;
      }
      div {
        width: 52%;
        padding: 0 20px 0 10px;
        h1 {
          font-weight: 400;
          font-size: 1.6rem;
          margin: 50px 0 25px 0;
        }
        p {
          font-size: 18px;
          font-weight: 400;
          margin: 0 0 5px 0;
          letter-spacing: 1px;
        }
      }
    }
  }
}
